extends layout 

block content 
  h1= title 
  form(action='/new' method='post') 
    div 
      label(for='user') User
      input#user(type='text' name='user') 
    div 
      label(for='text') Text
      textarea#text(name='text') 
    div 
      button(type='submit') Post Message
  p 
    a#backbtn(href='/') Back