extends layout

block content
  h1= title
  p Welcome!
  p
    a(href='/new') Post a message
  each msg in messages
    div.message
      h1 Message from #{msg.user}
      p #{msg.text}
      small Posted on #{msg.added}

